<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
{% include "navbar.html" %}

<div class="container my-3">
    <div class="row my-3">
            <div class="col-6">
                <a href="{{ url_for('question.create') }}" class="btn btn-primary">질문 작성하기</a>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <input type="text" id="search_kw" class="form-control me-2" value="{{ kw or '' }}" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit" id="btn_search">Search</button>
                </div>
            </div>
        </div>
    <table class="table table-striped">
        <thead>
        <tr class="text-center table-dark">
            <th scope="col">번호</th>
<!--            <th scope="col">과목</th>-->
            <th scope="col" style="width:50%">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
    {% if question_list %}
      <tbody>
        {% for question in question_list.items %}
        <tr class="text-center">
            <th scope="row">{{ question_list.total - ((question_list.page-1) * question_list.per_page) - loop.index0 }}</th>
            <td class="text-start">
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                {% if question.answer_set|length > 0 %}
                <span class="text-danger small mx-2">답변 {{ question.answer_set|length }}개</span>
                {% endif %}
            </td>
            <! -- 익명 수정 -->
            <td>
                {% if question.is_anonymous %}
                    <span class="text-muted">익명</span>
                    <td>{{question.create_date}}</td>
                {% else %}
                    {{ question.user.username }}
                    <td>{{question.create_date}}</td>
                {% endif %}
            </td>

<!--            <td>{{question.user.username}}</td>-->
<!--            <td>{{question.create_date}}</td>-->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}

    {% include "Pagenation.html" %}
</div>
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const searchInput = document.getElementById("search_kw");
const btn_search = document.getElementById("btn_search");

btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
searchInput.addEventListener('keydown', function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById('kw').value = searchInput.value;
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    }
});
</script>
{% endblock %}

<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
</body>
</html>